html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

#screenPairing { 
	width: 100%;
	height: 100%;
	background: blue;
	text-align: center;
}

#pairingText{
	font-size: 60px;
	color: white;
	padding-top: 160px;
}

#mainDiv{
}

#spinningRecord{
}
#startStopDiv{
}
#sampleDiv{
}
#audioDiv{
}
#audioVisualize{
}
#audioName{
}
#gifDiv{
}
#gifSwap{
}
#gif0{
}
#gif1{
}
#gif2{
}
#gifSpeed{
}
#volumeDiv{
}
#songSelect{
}
#fxselect{
}